@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Regular.otf);
  font-weight: 400;
}

@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Medium.otf);
  font-weight: 500;
}

@font-face {
  font-family: "EuclidFlex";
  src: url(../fonts/EuclidFlex-Bold.otf);
  font-weight: 700;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#3d2f8f), to(#4a2166));
  background: linear-gradient(#3d2f8f, #4a2166);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: white;
  overflow: hidden;
  position: relative;
}

.text {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.condition {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}

.condition .input {
  display: block;
  width: 20%;
  outline: none;
}

.condition .input:not(:last-child) {
  margin-right: 20px;
}

.timer {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.timer__text {
  margin-right: 10px;
}

.table {
  margin-bottom: 40px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: 5px;
}

.column {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.column:not(:last-child) {
  margin-right: 5px;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 5px 25px;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  font-size: 50px;
}

.btn:hover {
  background-color: black;
  color: white;
}

.btn:not(:last-child) {
  margin-right: 50px;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background-color: black;
  z-index: -1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 52%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 20%;
  font-size: 50px;
  z-index: -1;
  color: #c00909;
}

@media (max-width: 1440px) {
  .text {
    font-size: 20px;
  }
  .column {
    width: 90px;
    height: 90px;
  }
}
